In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver import ActionChains

from bs4 import BeautifulSoup
import requests

from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"C:\Users\vinay\OneDrive\Desktop\FlipRobo\Selenium\chromedriver_win32\chromedriver.exe")
time.sleep(6)

# 1)
Scrape the details of most viewed videos on YouTube from Wikipedia:<br>
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/<br>
You need to find following details:<br>
A) Rank<br>
B) Name<br>
C) Artist<br>
D) Upload date<br>
E) Views<br>

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(5)

Rank = []
Name = []
Artist = []
Upload = []
Views = []
time.sleep(1)

sno = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in sno:
    Rank.append(i.text)  ## Appending all the ranks of the videos.
    
video = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in video:
    Name.append((i.text)[:-4].replace('"',''))  ## Appending all the titles of the videos. 
# we also removed the extra characters associated with the names
    
uploader = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in uploader:
    Artist.append(i.text)  ## Appending all the uploader names of the videos.
    
date = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in date:
    Upload.append(i.text)  ## Appending all the uploaded dates of the videos.
    
view = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in view:
    Views.append(i.text)  ## Appending all the views of the videos.
time.sleep(3)

#Creating a dataframe.
Youtube = pd.DataFrame({})

Youtube['Rank'] = Rank
Youtube['Name of the video'] = Name
Youtube['Artist'] = Artist
Youtube['Upload date'] = Upload
Youtube['Views (In billions)'] = Views

Youtube

,Rank,Name of the video,Artist,Upload date,Views (In billions)
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.38
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.41
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.34
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.13
5,6.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.44
6,7.,Uptown Funk,Mark Ronson,"November 19, 2014",4.19
7,8.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.12
8,9.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
9,10.,Gangnam Style,Psy,"July 15, 2012",4.08
10,11.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",3.90
11,12.,Sugar,Maroon 5,"January 14, 2015",3.48
12,13.,Sorry,Justin Bieber,"October 22, 2015",3.44
13,14.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.37
14,15.,Roar,Katy Perry,"September 5, 2013",3.36
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.31
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.26
17,18.,Dark Horse,Katy Perry,"February 20, 2014",3.08
18,19.,Faded,Alan Walker,"December 3, 2015",3.07
19,20.,Shake It Off,Taylor Swift,"August 18, 2014",3.06
20,21.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
21,22.,Lean On,Major Lazer,"March 22, 2015",3.04
22,23.,Bailando,Enrique Iglesias,"April 11, 2014",3.04
23,24.,Girls Like You,Maroon 5,"May 31, 2018",3.04
24,25.,Let Her Go,Passenger,"July 25, 2012",3.00
25,26.,Mi Gente,J Balvin,"June 29, 2017",2.92
26,27.,Perfect,Ed Sheeran,"November 9, 2017",2.86
27,28.,Hello,Adele,"October 22, 2015",2.84
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.84
29,30.,Axel F,Crazy Frog,"June 16, 2009",2.82

# 2)
Scrape the details team India’s international fixtures from bcci.tv.<br>
Url = https://www.bcci.tv/.<br>
You need to find following details:<br>
A) Match title (I.e. 1st ODI)<br>
B) Series<br>
C) Place<br>
D) Date<br>
E) Time<br>
Note: - From bcci.tv home page you have reach to the international fixture page through code.<br>

In [4]:
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(5)

link_to_page = driver.find_element_by_xpath('//li[@class="navigation__item  "][1]/div[2]/div/ul/li/a[1]').get_attribute('href')

driver.get(link_to_page) ## Directing to international fixture page
time.sleep(5)

title = []
series = []
place = []
date = []
time1 = []

days=[]
months=[]

title_tags = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title_tags:
    title.append(i.text)  ##Extracting Titles

place_tag = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place_tag:
    place.append(i.text)  ##Extracting places

series_tags = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
for i in series_tags:
    series.append(i.text)  ##Extracting series

time_tags = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time_tags:
    time1.append(i.text)  ##Extracting time of the match

day_tag = driver.find_elements_by_xpath("//span[@class='fixture__date']")
month_tag = driver.find_elements_by_xpath("//span[@class='fixture__month']")

for i in day_tag:
    days.append(i.text)
    
for i in month_tag:
    months.append(i.text)
    
for i in range(0, len(days)):
    date.append(days[i]+" "+months[i])  ##Extracting date of the match

#Creating a dataframe.
Matches = pd.DataFrame({})

Matches['Match Title'] = title
Matches['Series'] = series
Matches['Place'] = place
Matches['Date'] = date
Matches['Time'] = time1

Matches

  Match Title Series                        Place          Date       Time
0       Final   TEST  The Ageas Bowl, Southampton       18 JUNE  15:00 IST
1    1st Test   TEST     Trent Bridge, Nottingham     04 AUGUST  15:30 IST
2    2nd Test   TEST               Lord's, London     12 AUGUST  15:30 IST
3    3rd Test   TEST            Headingley, Leeds     25 AUGUST  15:30 IST
4    4th Test   TEST             The Oval, London  02 SEPTEMBER  15:30 IST
5    5th Test   TEST     Old Trafford, Manchester  10 SEPTEMBER  15:30 IST

# 3)
Scrape the details of selenium exception from guru99.com.<br>
Url = https://www.guru99.com/<br>
You need to find following details:<br>
A) Name<br>
B) Description<br>
Note: - From guru99 home page you have to reach to selenium exception handling page through code.<br>

In [5]:
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(3)

sel = driver.find_element_by_xpath("//a[@title='Selenium']").click() ## Clicking on selenium button.
time.sleep(3)

driver.find_element_by_xpath("//table[@class='table'][5]/tbody/tr[34]/td/a").click() ## Directing to exception handling page
time.sleep(3)

name = []
desc = []

names = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in names[1:]:
    name.append(i.text) ## Extracted and appended all the exception names

descs = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in descs[1:]:
    desc.append(i.text) ## Extracted and appended all the exception descriptions

#Creating a dataframe.
Selenium = pd.DataFrame({})

Selenium['Name'] = name
Selenium['Description'] = desc

Selenium

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4)
Scrape the details of State-wise GDP of India from statisticstime.com.<br>
Url = http://statisticstimes.com/<br>
You have to find following details:<br>
A) Rank<br>
B) State<br>
C) GSDP at current price (19-20)<br>
D) GSDP at current price (18-19)<br>
E) Share(18-19)<br>
F) GDP($ billion)<br>
Note: - From statisticstimes home page you have to reach to economy page through code.<br>

In [6]:
url = 'http://statisticstimes.com/'
driver.get(url)
time.sleep(5)

to_eco = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute('href')
driver.get(to_eco)
time.sleep(4)

to_state = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a").get_attribute('href')
driver.get(to_state)
time.sleep(6)

rank=[]
name=[]
gsdp_1920=[]
gsdp_1819=[]
share_1819=[]
gdp=[]

rank_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank_tags:
    rank.append(i.text)  ## Extracting ranks

name_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in name_tags:
    name.append(i.text)  ##Extracting State names
    
gsdp_1920_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gsdp_1920_tags:
    gsdp_1920.append(i.text)  ##Extracting GSDP at current price (19-20)
    
gsdp_1819_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gsdp_1819_tags:
    gsdp_1819.append(i.text)  ##Extracting GSDP at current price (18-19)
    
share_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_tags:
    share_1819.append(i.text)  ##Extracting Share(18-19)
    
gdp_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gdp_tags:
    gdp.append(i.text)  ##Extracting Share(18-19)
time.sleep(3)

#Creating a dataframe.
GDP = pd.DataFrame({})

GDP['Rank'] = rank
GDP['State'] = name
GDP['GSDP at current price (19-20)'] = gsdp_1920
GDP['GSDP at current price (18-19)'] = gsdp_1819
GDP['Share(18-19)']= share_1819
GDP['GDP($ billion)'] = gdp

GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5)
Scrape the details of trending repositories on Github.com.<br>
Url = https://github.com/<br><br>
You have to find the following details:<br>
A) Repository title<br>
B) Repository description<br>
C) Contributors count<br>
D) Language used<br>
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [7]:
url = 'https://github.com/'
driver.get(url)
time.sleep(3)

trend = driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/div/ul[2]/li[3]/a").get_attribute('href')

driver.get(trend)  ## Directing to trending page
time.sleep(4)

title = []
desc=[]
count=[]
lang=[]

name = driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article/h1/a")
for i in name:
    title.append((i.text).split('/')[1]) ## Extracting repository names.

description = driver.find_elements_by_xpath("//article[@class='Box-row']")
for i in description:
    try:
        desc1 = i.find_element_by_xpath("./p")
        desc.append(desc1.text)
    except NoSuchElementException:
        desc.append('--')  ## Extracting description of repository.

contribute = driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article/div[2]/a[2]")
for i in contribute:
    count.append(i.text)  ## Extracting contribution of repository.

language= driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']")
for i in language:
    try :
        lang1 = i.find_element_by_xpath("./span/span[2]")
        lang.append(lang1.text)
    except NoSuchElementException:
        lang.append('--')   ## Extracting language used  

#Creating a dataframe.
Github = pd.DataFrame({})

Github['Repository title'] = title
Github['Repository description'] = desc
Github['Contributors count'] = count
Github['Language used'] = lang

Github

,Repository title,Repository description,Contributors count,Language used
0,chia-plotter,--,116,C
1,naive-ui,A Vue 3 Component Library. Fairly Complete. Cu...,145,TypeScript
2,ToolJet,Opensource internal tool builder. An alternati...,47,JavaScript
3,slides,Terminal based presentation tool,25,Go
4,PaddleHub,Awesome pre-trained models toolkit based on Pa...,"1,233",Python
5,connectedhomeip,Matter (formerly Project CHIP) is creating mor...,324,C++
6,nodebestpractices,✅ The Node.js best practices list (June 2021),"6,636",JavaScript
7,computer-vision-in-action,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,45,Jupyter Notebook
8,public-apis,A collective list of free APIs,"15,667",Python
9,school2021,ESCAPE Summer School 2021,42,Jupyter Notebook
10,first-contributions,🚀✨ Help beginners to contribute to open source...,"36,644",--
11,PaddleNLP,An NLP library with Awesome pre-trained Transf...,286,Python
12,YYeTsBot,🎬 人人影视bot，完全对接人人影视全部无删减资源,918,Python
13,Map-of-Javascript,Javascript on one sheet. (and one for algorithms),34,JavaScript
14,Tkinter-Designer,Create Beautiful Tkinter GUIs by Drag and Drop ☄️,57,Python
15,fullstack-course4,"Example code for HTML, CSS, and Javascript for...","8,440",JavaScript
16,notepad-plus-plus,Notepad++ official repository,"3,192",C++
17,jd_shell,京豆 京东 lxk0301 jd-base loon docker 羊毛 脚本,353,JavaScript
18,webpacker,Use Webpack to manage app-like JavaScript modu...,"1,402",Ruby
19,calendso,The open-source Calendly alternative.,340,TypeScript
20,build-your-own-x,🤓 Build your own (insert technology here),"9,657",--
21,vue-next,"🖖 Vue.js is a progressive, incrementally-adopt...","3,849",TypeScript
22,bypass-paywalls-chrome,Bypass Paywalls web browser extension for Chro...,"1,102",JavaScript
23,the-art-of-command-line,"Master the command line, in one page","10,024",--
24,OpenCore-Legacy-Patcher,Experience macOS just like before,34,Python

# 6)
Scrape the details of top 100 songs on billboard.com.<br>
Url = https://www.billboard.com/<br>
You have to find the following details:<br>
A) Song name<br>
B) Artist name<br>
C) Last week rank<br>
D) Peak rank<br>
E) Weeks on board<br>
Note: - From the home page you have to click on the charts option then hot 100-page link through code.<br>

In [8]:
url = 'https://www.billboard.com/'
driver.get(url)
time.sleep(3)

## After inspecting first link is the required link for the problem, so extracted first href link
hot = driver.find_element_by_xpath("//a[@class='header__submenu__list__link']").get_attribute('href')

driver.get(hot) ## Directing to hot-100 page
time.sleep(7)

name=[]
artist=[]
last_rank=[]
peak_rank=[]
weeks=[]

name_tags = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in name_tags:
    name.append(i.text) ##Extracted all the song names

artist_tags = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist_tags:
    artist.append(i.text) ##Extracted all the artist names

last_tags = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_tags:
    last_rank.append(i.text) ##Extracted all the last week ranks 

peak_tags = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_tags:
    peak_rank.append(i.text) ##Extracted all the peak ranks of the songs

week_tags = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in week_tags:
    weeks.append(i.text) ##Extracted all the peak ranks of the songs

#Creating a dataframe.
Hot100 = pd.DataFrame({})

Hot100['Song name'] = name
Hot100['Artist name'] = artist
Hot100['Last week rank'] = last_rank
Hot100['Peak rank'] = peak_rank
Hot100['Weeks on board'] = weeks

Hot100

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

# 7)
Scrape the details of Data science recruiters from naukri.com.<br>
Url = https://www.naukri.com/<br>
You have to find the following details:<br>
A) Name<br>
B) Designation<br>
C) Company<br>
D) Skills they hire for<br>
E) Location<br>
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code<br>

In [9]:
url ='https://www.naukri.com/'
driver.get(url)
time.sleep(5)

## retrived link to the recruiters page
recruiter = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
driver.get(recruiter)
time.sleep(5)

#Entering Data Science in search box
search = driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data science')
time.sleep(1)

#clicking search button
button = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
button.click()
time.sleep(5)

name=[]
title=[]
company=[]
skills=[]
location=[]

name_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]/span")
for i in name_tags:
    name.append(i.text)  #Extracted names of the recruiters.

title_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p/span[1]")
for i in title_tags:
    title.append(i.text)  #Extracted Designations of the recruiters.

company_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p/a[2]")
for i in company_tags:
    company.append(i.text)  #Extracted names of the company they belong to.

skills_tags = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills_tags:
    skills.append(i.text)  #Extracted skils they hire.

location_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p")
for i in location_tags:
    try:
        location_1 = i.find_element_by_xpath("./span/small")
        location.append(location_1.text)
    except NoSuchElementException:
        location.append("--")

#Creating a dataframe.
Recruiters = pd.DataFrame({})

Recruiters['Name'] = name
Recruiters['Designation'] = title
Recruiters['Company'] = company
Recruiters['Skills they hire for'] = skills
Recruiters['Location'] = location

Recruiters

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",--
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",--
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

# 8)
Scrape the details of Highest selling novels.<br>
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/<br>
You have to find the following details:<br>
A) Book name<br>
B) Author name<br>
C) Volumes sold<br>
D) Publisher<br>
E) Genre<br>

In [10]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)
time.sleep(4)

name=[]
author=[]
volume=[]
publisher=[]
genre=[]

name_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")
for i in name_tags:
    name.append(i.text)  ##extracted names of the novels

author_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")
for i in author_tags:
    author.append(i.text)  ##extracted authors of the novels

volume_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")
for i in volume_tags:
    volume.append(i.text)  ##extracted volumes of the novels

publisher_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")
for i in publisher_tags:
    publisher.append(i.text)  ##extracted publishers of the novels

genre_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")
for i in genre_tags:
    genre.append(i.text)  ##extracted volumes of the novels

#Creating a dataframe.
Novels = pd.DataFrame({})

Novels['Book name'] = name
Novels['Author name'] = author
Novels['Volumes sold'] = volume
Novels['Publisher'] = publisher
Novels['Genre'] = genre

Novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9)
Scrape the details most watched tv series of all time from imdb.com.<br>
 Url = https://www.imdb.com/list/ls095964455/<br>
You have to find the following details:<br><br>
A) Name<br>
B) Year span<br>
C) Genre<br>
D) Run time<br>
E) Ratings<br>
F) Votes<br>

In [11]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(5)

name=[]
year=[]
genre=[]
run=[]
ratings=[]
votes=[]

name_tags = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a")
for i in name_tags:
    name.append(i.text) ##Extracted names of the series

year_tags = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/span[2]")
for i in year_tags:
    year.append(i.text) ## extracted years of the series

genre_tags = driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre_tags:
    genre.append(i.text) ## extracted genre of the series

run_tags = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run_tags:
    run.append(i.text) ## extracted genre of the series

ratings_tags = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in ratings_tags:
    ratings.append(i.text) ## extracted ratings of the series

votes_tags = driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes_tags:
    votes.append(i.text) ## extracted votings of the series

#Creating a dataframe.
TV_series = pd.DataFrame({})

TV_series['Name'] = name
TV_series['Year span'] = year
TV_series['Genre'] = genre
TV_series['Run time'] = run
TV_series['Ratings'] = ratings
TV_series['Votes'] = votes

TV_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,820,323"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"861,746"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,539"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,345"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,639"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,519"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,003"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,280"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,837"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"190,960"

#10)
 Details of Datasets from UCI machine learning repositories.<br>
 Url = https://archive.ics.uci.edu/<br>
 You have to find the following details:<br>
A) Dataset name<br>
B) Data type<br>
C) Task<br>
D) Attribute type<br>
E) No of instances<br>
F) No of attribute<br>
G) Year<br>
Note: - from the home page you have to go to the Show All Dataset page through code

In [12]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(5)

all_data = driver.find_element_by_xpath("//body/table[2]//a").get_attribute('href') ##Extracted first link as this is the
driver.get(all_data)                                                                ##required link to the problem
time.sleep(10)

name=[]
type_=[]
task=[]
attribute=[]
noofinstance=[]
noofattribute=[]
year=[]

source = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr")

## Extracted Names
for i in source:
    try:
        name1 = i.find_element_by_xpath("./td/table/tbody/tr/td[2]/p/b/a")
        name.append(name1.text)
    except:
        name.append("WRONG")
        

##Extracted Type
for i in source:
    try:
        type1 = i.find_element_by_xpath("./td[2]/p")
        type_.append(type1.text)
    except:
        type_.append("WRONG")

##Extracted Task
for i in source:
    try:
        task1 = i.find_element_by_xpath("./td[3]/p")
        task.append(task1.text)
    except:
        task.append("WRONG")

##Extracted Attribute
for i in source:
    try:
        attri = i.find_element_by_xpath("./td[4]/p")
        attribute.append(attri.text)
    except:
        attribute.append("WRONG")

##Extracted No of instances
for i in source:
    try:
        instance = i.find_element_by_xpath("./td[5]/p")
        noofinstance.append(instance.text)
    except:
        noofinstance.append("WRONG")

##Extracted No of attributes
for i in source:
    try:
        noattri = i.find_element_by_xpath("./td[6]/p")
        noofattribute.append(noattri.text)
    except:
        noofattribute.append("WRONG")

##Extracted year
for i in source:
    try:
        year1 = i.find_element_by_xpath("./td[7]/p")
        year.append(year1.text)
    except:
        year.append("WRONG")

#Creating a dataframe.
Datasets = pd.DataFrame({})

Datasets['Dataset name'] = name[1:]
Datasets['Data type'] = type_[1:]
Datasets['Task'] = task[1:]
Datasets['Attribute type'] = attribute[1:]
Datasets['No of instances'] = noofinstance[1:]
Datasets['No of attribute'] = noofattribute[1:]
Datasets['Year'] = year[1:]

Datasets

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021